.catalog-wrapper {
    display: flex;
    background-color: rgb(232, 247, 245);
}

.catalog-before {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.catalog-title{
    margin-left: .5em;
}

.good-wrapper {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .8em;

}

@media (max-width: 767px) {
    .good-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .good-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .good-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .good-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}