.admin-top-panel{
    display: flex;
    justify-content: space-between;
    padding: 1em .2em;  
}


.admin-btn-add{
    padding: .5em 2em;
    color: #fff;
    background-color: rgb(95, 124, 124);
    border-radius: .4em;
}
