.header-wrapper{
    background-color: rgb(92, 194, 168);
}
.navbar-wrapper{
}

.navbar-list{
    display: inline-flex ;

}
.navbar-item{
    margin: .3em;

}
.navbar-item::after{
    margin-left: .6em;
    content: "/";
    font-size: small;
    color: rgb(255, 255, 255);

}

.navbar-admin{
    float: right;
    margin-right: 1em;
}
